<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label slot="end" style="padding-right: 20px;"> <b> Vacinas </b> </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>