<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label slot="end" style="padding-right: 20px;"> <b> Perfil </b> </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <div>
      <h2>Item Avatar</h2>
      <ion-label>seuEmail@yjk.com</ion-label>
      <ion-label>(62) 9999-99999</ion-label>
    </div>
  </ion-item>


  <div style="border-top-left-radius: 20px; border-top-right-radius: 20px; background-color: #03c0f985; font-size: 12px;">
    <p style="padding-left: 10px; padding-top: 20px;"> DADOS DA CRIANÇA / ADOLECENTE </p>
    <ion-row style="text-align: center;">
      <ion-col>
        <ion-label> Peso </ion-label>
        <ion-chip>5 kg</ion-chip>
      </ion-col>
      <ion-col>
        <ion-label> Altura</ion-label>
        <ion-chip>50 cm</ion-chip>
      </ion-col>
    </ion-row>
  </div>
  <div style="border-top-left-radius: 20px; border-top-right-radius: 20px; background-color: #72f90385; font-size: 12px;">
    <p style="padding-left: 10px; padding-top: 20px;"> DADOS DA CRIANÇA / ADOLECENTE </p>
    <ion-row style="text-align: center;">
      <ion-col>
        <ion-label> Peso </ion-label>
        <ion-chip>5 kg</ion-chip>
      </ion-col>
      <ion-col>
        <ion-label> Altura</ion-label>
        <ion-chip>50 cm</ion-chip>
      </ion-col>
    </ion-row>
  </div>


</ion-content>