<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label slot="end" style="padding-right: 20px;"> <b> MedBaby </b> </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p style="text-align: center !important;"> Escolha uma das opções</p>

  <!-- Menu home -->
  <div class="horizontal-scroll">

    <span class="card">
      <ion-card style="border: 1px solid; border-radius: 10px; border-color:  gray; background: #253D48; color: white;"
        class="sombraComponente" routerLink="consultas">
        <img src="../assets/img_png/kit.png" width="50px">
        <br>
        <ion-label>Consultas</ion-label>
      </ion-card>
    </span>
    <span class="card">
      <ion-card style="border: 1px solid; border-radius: 10px; border-color:  gray; background: #4AB9C5; color: white;"
        class="sombraComponente" routerLink="exames">
        <img src="../assets/img_png/exame.png" width="50px">
        <br>
        <ion-label>Exames</ion-label>
      </ion-card>
    </span>
    <span class="card">

      <ion-card style="border: 1px solid; border-radius: 10px; border-color:  gray; background: #EDC936; color: white;"
        class="sombraComponente" routerLink="/vacinas">
        <img src="../assets/img_png/vacina.png" width="50px">
        <br>
        <ion-label>Vacinas</ion-label>
      </ion-card>
    </span>
    <span class="card">
      <ion-card style="border: 1px solid; border-radius: 10px; border-color:  gray; background:#F68A65; color: white;"
        class="sombraComponente" routerLink="arquivos">
        <img src="../assets/img_png/arquivos.png" width="50px">
        <br>
        <ion-label>Arquivos</ion-label>
      </ion-card>
    </span>
    <span class="card">

      <ion-card style="border: 1px solid; border-radius: 10px; border-color:  gray; background: #F68A65; color: white;"
        class="sombraComponente" routerLink="temperatura">
        <img src="../assets/img_png/termometro.png" width="50px">
        <br>
        <ion-label>Temperatura</ion-label>
      </ion-card>
    </span>
    <span class="card">
      <ion-card style="border: 1px solid; border-radius: 10px; border-color:  gray; background: #253D48; color: white;"
        class="sombraComponente" routerLink="historico">
        <img src="../assets/img_png/historico.png" width="50px">
        <br>
        <ion-label>Historico</ion-label>
      </ion-card>
    </span>
    <!-- <span class="card"> -->
  </div>
  <!-- </ion-virtual-scroll> -->
  <!-- </div> -->


</ion-content>